---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";

const myWorks = navMenuConfig.myWorksNav[0].items;
const pages = navMenuConfig.pagesNav[0].items;
---

<MainLayout title="">
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Crafting Journey"
        text="編譯邏輯與程式碼的 commit，封存從靈感到部署的記憶，開發旅途中各式札記，刻劃著我持續淬鍊的工匠之心。"
      />

      <ExampleGrid title="Pages" items={pages} />
      <ExampleGrid title="My Works" items={myWorks} />
    </section>
  </div>
</MainLayout>
