---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";

const content = navMenuConfig.contentNav[0].items;
const profile = navMenuConfig.profileNav[0].items;
---

<MainLayout title="">
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Crafting Journey"
        text="編譯邏輯與程式碼的 commit，封存從靈感到部署的記憶，開發旅途中各式札記，刻劃著我持續淬鍊的工匠之心。"
      />

      <ExampleGrid title="內容" items={content} />
      <ExampleGrid title="關於我" items={profile} />
    </section>
  </div>
</MainLayout>
